{% load static %}
{% load colaborador_tags %}
<!doctype html>
<html lang="es-ar">
    <head>
        <title>{% block title %} Página de inicio {% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <style>
            /* CAMBIO CLAVE 1: Asegura que el HTML y el BODY ocupen toda la altura de la ventana */
            html, body {
                height: 100%;
            }
            
            /* Estilo simple para el logo, lo centra y limita su tamaño */
            .logo-header-simple {
                max-width: 250px; 
                height: auto;
                margin: 20px auto; 
                display: block; 
                margin-top: 0px
            }
            /* Aseguramos que la navegación sea clara */
            .nav-link-btn {
                margin: 5px;
                padding: 8px 15px;
            }
        </style>
    </head>

    <body class="d-flex flex-column" style="background-image: url('{% static 'img/fondo-nutricion.png' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
        <header class="bg-white pb-3">
            
            <div class="text-center border-bottom">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/info.jpg' %}" alt="INFORMATORIO Logo" class="logo-header-simple" />
                </a>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    
                    <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavSimple" aria-controls="navbarNavSimple" aria-expanded="false" aria-label="Toggle navigation">
                        Menú <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavSimple">
                        
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link nav-link-btn btn btn-outline-secondary " href="{% url 'index' %}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-btn btn btn-outline-secondary" href="{% url 'apps.contacto:contacto' %}">Contacto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-btn btn btn-outline-secondary" href="{% url 'apps.posts:posts' %}">Posts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-btn btn btn-outline-secondary" href="{% url 'calculadora:calculadora_imc' %}">Calculadora IMC</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav ms-auto">
                            {% if user.is_authenticated %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle btn btn-sm btn-info text-dark" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ user.username }}
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUser">
                                        {% if user.is_superuser or request.user|has_group:"Colaborador" %}
                                            <li><h6 class="dropdown-header">Administración</h6></li>
                                            <li><a class="dropdown-item" href="{% url 'apps.usuario:usuario_list' %}">Usuarios</a></li>
                                            
                                            <li><a class="dropdown-item" href="{% url 'apps.posts:posts' %}">Posts</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                        {% endif %}
                                            <li><a class="dropdown-item" href="{% url 'apps.posts:categoria_list' %}">Categorías</a></li>
                                        
                                        <li>
                                            <form method="post" action="{% url 'apps.usuario:logout' %}" class="p-2">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-sm btn-outline-danger w-100">Cerrar Sesión</button>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="btn btn-sm btn-outline-danger w-100" href="{% url 'apps.usuario:login' %}">Iniciar Sesión</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        
        <main class="flex-grow-1">
            {% block contenido %}
            {% endblock contenido %}
        </main>

        <footer id="sticky-footer" class="py-4 bg-dark text-white-50 w-100 flex-shrink-0">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <small>Copyright &copy; Sitioweb</small>
                    <a class="text-red-50 text-decoration-underline" href="{% url 'sobre_nosotros' %}">Sobre Nosotros</a>
                </div>
            </div>
        </footer>

        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>