{% extends 'base.html' %}
{% block contenido %}
{% load colaborador_tags %}
<center>
    {% if user.is_superuser or request.user|has_group:"Colaborador" %} 
        <div class="container-fluid" style="margin: 200px;">
            <h1>Agregar nueva categoría</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Agregar">
            </form>
            <div class="container-fluid" style="margin-top: 300px;">
                <a id="boton_post" href="{% url 'apps.posts:categoria_list' %}">Listar todas las categorías</a>
            </div>
        </div>
    {% else %}
        <h1>NO TIENES LOS PERMISOS NECESARIOS</h1> 
    {% endif %}
</center>
{% endblock %}