{% extends 'base.html' %}
{% load static %}
{% load colaborador_tags %}
{% block contenido %}

<div class="container-fluid" style="margin: 200px;">

{% if user.is_superuser or request.user|has_group:"Colaborador" %}
<div class="container-fluid" style="margin-top: 300px;">
    <a id="boton_post" href="{% url 'posts:crear_post' %}">Crear nuevo post</a>
</div>
{% endif %} 

<h2>Ordenar por:</h2>
<ul>
    <a id="boton_post" href="{% url 'posts:posts' %}?orden=reciente">Más reciente</a>
    <a id="boton_post" href="{% url 'posts:posts' %}?orden=antiguo">Más antiguo</a>
    <a id="boton_post" href="{% url 'posts:posts' %}?orden=alfabetico">Orden alfabético</a>
</ul>

{% for i in posts %}
    <br>
    <li>{{ i.titulo }}</li>
    <li>{{ i.subtitulo }}</li>
    <li>{{ i.categoria }}</li>
    <br>
    <a id="boton_post" href="{% url 'posts:posts_individuales' i.id %}">
        revisa este post
    </a>    
{% empty %}
    <h1>No hay registros</h1>
{% endfor %}

</div>
<br>
<h1>Ahora estamos en otro html</h1>
<h1>donde pongo otro contenido</h1>

{% endblock %}