{% extends 'base.html' %}
{% load static %}
{% load colaborador_tags %}
{% block title %}Todos los Posts{% endblock %}

{% block contenido %}

<div class="container my-5">
    
    <h1 class="text-center mb-5 display-4 " style="background-color: #ffffffff">Últimos Artículos de Nutrición</h1>

    <div class="row mb-4 align-items-center border-bottom pb-3">
        
        <div class="col-md-6 text-md-start text-center mb-3 mb-md-0">
            {% if user.is_superuser or request.user|has_group:"Colaborador" %}
                <a href="{% url 'apps.posts:crear_post' %}" class="btn btn-success btn-lg shadow-sm">
                    Crear nuevo post
                </a>
            {% endif %} 
        </div>

        <div class="col-md-6 text-md-end text-center">
            <span class="fw-bold me-2">Ordenar por:</span>
            <div class="btn-group" role="group" aria-label="Opciones de ordenamiento">
                <a href="{% url 'apps.posts:posts' %}?orden=reciente" class="btn btn-outline-success btn-sm ">Más reciente</a>
                <a href="{% url 'apps.posts:posts' %}?orden=antiguo" class="btn btn-outline-success btn-sm">Más antiguo</a>
                <a href="{% url 'apps.posts:posts' %}?orden=alfabetico" class="btn btn-outline-success btn-sm">Alfabético</a>
            </div>
        </div>
    </div>
    <div class="row">
        {% for i in posts %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title text-primary">{{ i.titulo }}</h5>
                    <p class="card-text text-muted">{{ i.subtitulo }}</p>
                    <span class="badge bg-info text-dark">{{ i.categoria }}</span>
                </div>
                <div class="card-footer bg-light border-0 text-center">
                    <a href="{% url 'apps.posts:posts_individuales' i.id %}" class="btn btn-success w-75">
                        Leer Artículo
                    </a>    
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12 text-center py-5">
            <h1 class="text-danger">Aún no hay artículos publicados.</h1>
            <p class="lead">Vuelve pronto para ver la información más reciente.</p>
        </div>
        {% endfor %}
    </div>
    </div>
                                                                                                                                    

{% endblock %}