{% extends 'base.html' %}
{% load static %}
{% load colaborador_tags %}
{% block contenido %}

<div class="container-fluid d-flex flex-column justify-content-center align-items-center text-center"
     style="min-height: 100vh; 
            background-image: url('{% static 'img/fondo-nutricion-post.png' %}'); 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;">

  {% if user.is_superuser or request.user|has_group:"Colaborador" %}
  <div class="mb-5">
      <a id="boton_post" href="{% url 'apps.posts:crear_post' %}">Crear nuevo post</a>
  </div>
  {% endif %} 

  <h2 class="text-white">Ordenar por:</h2>
  <ul>
      <a id="boton_post" href="{% url 'apps.posts:posts' %}?orden=reciente">Más reciente</a>
      <a id="boton_post" href="{% url 'apps.posts:posts' %}?orden=antiguo">Más antiguo</a>
      <a id="boton_post" href="{% url 'apps.posts:posts' %}?orden=alfabetico">Orden alfabético</a>
  </ul>

  {% for i in posts %}
      <br>
      <li class="text-white">{{ i.titulo }}</li>
      <li class="text-white">{{ i.subtitulo }}</li>
      <li class="text-white">{{ i.categoria }}</li>
      <br>
      <a id="boton_post" href="{% url 'apps.posts:posts_individuales' i.id %}">
          revisa este post
      </a>    
  {% empty %}
      <h1 class="text-white">No hay registros</h1>
  {% endfor %}

</div>

<br>
<h1>Ahora estamos en otro html</h1>
<h1>donde pongo otro contenido</h1>

{% endblock %}