# ------------------------------------
# Archivos y carpetas generadas por Python
# ------------------------------------
__pycache__/
*.pyc
*.pyo

# Archivos de entorno virtual
# Asegúrate de que el nombre coincida con tu carpeta de entorno
/entorno/

# ------------------------------------
# Archivos generados por Django
# ------------------------------------
# Base de datos local de SQLite
db.sqlite3

# Archivos de caché para la recarga
*.log
*.sqlite3-journal

# Directorio donde se suelen almacenar datos sensibles o media
/media/

# Archivos de variables de entorno (para claves secretas)
.env